[build]
  command = "npm run build"
  publish = "dist"

[functions]
  directory = "netlify/functions"
[[redirects]]
  from = "/auth/callback"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
